# application.properties.example
spring.application.name=question-service

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/QuizApplicationQuestionDB
spring.datasource.username = your-username
spring.datasource.password= your-password

spring.jpa.hibernate.ddl-auto=update
spring.jpa.property.hibernate.dialect=org.hibernate.dialect.PostgresSQLDialect
management.endpoints.web.exposure.include=*

#should be same as apigateway secret
gateway.secret = your-secret-code

spring.boot.admin.client.enabled=true
management.endpoint.health.show-details=always