.modal-dialog {
  max-width: 800px;
  width: 90%;
}

.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out */
  z-index: 1050;
}
